:root{
    --accent-color:#2196F3;
    --heading-text-color:#212121;
    --description-text-color:#757575;
}
.list{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*=====================================HEADER=====================================*/
.logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-part {
    color: var(--accent-color);
}
.menu-item {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--heading-text-color);
}
.menu-item :hover, 
.menu :focus{
color: var(--accent-color);
}
.menu .current{
    color: var(--accent-color);
}
.contact{
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.02em;
    color: var(--description-text-color);
    font-style: normal;
}
.contact :focus, 
.contact :hover {
    color: var(--accent-color);
}
/*=====================================HERO=====================================*/
.main-title{
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
   letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF; 
    background-color: #2F303A;
}
.modal-button {
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF; 
    cursor: pointer;
    background-color: var(--accent-color);
}
.modal-button :hover,
.modal-button :focus{
    background-color: #188CE8;
}
/*=====================================ADVANTAGE SECTION=====================================*/
.advantages-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--heading-text-color);
}
.advantages-description{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}
/*=====================================TEAM & WORK SECTIONS=====================================*/
.work-title, .team-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-text-color);
}
.team {
    background: #F5F4FA;
}
.team-card{
    background: #FFFFFF;
}
.team-member{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-text-color);
}
.team-job{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
     letter-spacing: 0.03em;
    color: var(--description-text-color);
}
/*=====================================PORTFOLIO=====================================*/
.example-button{
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--heading-text-color);
        background-color: #F5F4FA;
        cursor: pointer;
}
.example-button :hover,
.example-button :focus{
background-color: var(--accent-color);
}
.projects{
    background-color: #E5E5E5;
}
.project-card{
background-color: #FFFFFF;
}
.project-name{
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--heading-text-color);
}
.project-description{
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--description-text-color);
}
/*=====================================FOOTER=====================================*/
.studio-adress{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
}
.contact-info{
    background-color: #2F303A;
}
.logo-part-footer{
    color:#FFFFFF;
}
