:root{
    --accent-color:#2196F3;
    --heading-text-color:#212121;
    --description-text-color:#757575;
    --primary-font:'Roboto',sans-serif;
    --secondary-font: 'Raleway',sans-serif;
}
.list{
    list-style: none; 
}
a{
    text-decoration: none;
}
body{
    font-family: var(--primary-font);
}
/*=====================================HEADER=====================================*/
.logotype {
    font-weight: 700;
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-part {
    color: var(--accent-color);
}
 .menu-item {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.menu-item :hover, 
.menu-item :focus{
color: #2196F3;
}
.current {
    color: var(--accent-color);
}
.contact-part {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contact-part-header{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.contact-part-header :focus,
.contact-part-header :hover
{
color: var(--accent-color);
}
/*=====================================HERO=====================================*/
.main-title{
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF; 
    background-color: #2F303A;
}
.modal-button {
    font-weight:700;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF; 
    cursor: pointer;
    background-color: var(--accent-color);
}
.modal-button :hover,
.modal-button :focus{
    background-color: #188CE8;
}
/*=====================================ADVANTAGE SECTION=====================================*/
.advantages-title{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--heading-text-color);
}
.advantages-description{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}
/*=====================================TEAM & WORK SECTIONS=====================================*/
.work-title, .team-title{
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-text-color);
}
.team {
    background: #F5F4FA;
}
.team-card{
    background: #FFFFFF;
}
.team-member{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-text-color);
}
.team-job{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}
/*=====================================PORTFOLIO=====================================*/
.example-button{
        font-weight: 500;
        font-family: 'Roboto',sans-serif;;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;;
        background-color:#F5F4FA;
        cursor: pointer;
}
.example-button :hover,
.example-button :focus{
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.projects{
    background-color: #E5E5E5;
}
.project-card{
background-color: #FFFFFF;
}
.project-name{
        font-weight: 700;
        font-family: var(--primary-font);
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--heading-text-color);
}
.project-description{
        font-weight:400;
        font-family: var(--primary-font);
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--description-text-color);
}
/*=====================================FOOTER=====================================*/
.studio-adress{
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
}
.contact-part-footer
{   
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);  
}
.contact-part-footer :focus,
.contact-part-footer :hover {
    color: var(--accent-color);
}
.contact-info{
    background-color: #2F303A;
}
.logo-part-footer{
    color:#FFFFFF;
}
